@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: black;
}

html, body {
    min-height: 100%;
}

body {
    background-color: #FFF;
}

p {
    margin: 16px auto;
    line-height: 1.5em;
}
